extends inc/layout

block content

  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Your
              |  citations.
            p
              | View your citations below. You will find information about the court location, court date, and fines.
          //- .col-lg-4.col-md-4
          //-   img.img-responsive(src='img/3D_Judges_Gavel.jpg', alt='', title='')
          // End Side Image
  if (!citations)
    section#subscribe.section
      .container
        .row
          .col-lg-12
            .headline
              h1
                strong No Citations Found
              p We weren't able to find a citation with those details. Please try again.
        .row
          .col-lg-12.text-center
            a.btn.btn-primary.btn-lg.btn-bluebg(href='/search') Back
            a.btn.btn-default.btn-lg.btn-bluenobg(href='#') Help
  else
    each citation in citations
      section#citation.section
        .container
          .row.user-menu-container.square
            .col-md-7.user-details
              .row.coralbg.white
                .col-md-8.no-pad
                  .user-pad
                    h3 Citation #{citation.citation_number}
                  dl.dl-horizontal
                    dt
                      h4.white
                        | Defendant:
                    dd
                      i.fa.fa-user
                      //- |  #{firstName}, #{lastName}
                      | #{citation.last_name}, #{citation.first_name}
                    dt
                      h4.white
                        | Issued:
                    dd
                      i.fa.fa-calendar
                      | #{citation.citation_date}
                    dt
                      h4.white
                        |  Court:
                    dd
                      i.fa.fa-building
                      | #{citation.court_location}
                    dt
                      h4.white
                        |  Court Address:
                    dd
                      i.fa.fa-map-marker
                      a(href="javascript:;")
                        | #{citation.court_address}
                    button.btn.btn-labeled.btn-info(type='button', href='#')
                      span.btn-label
                        i.fa.fa-external-link
                      | Goto Court Website
                .col-md-4.no-pad
                  .user-image
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43401.2629929262!2d-90.33996454180678!3d38.65037573597256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x00886c1a9645bc70!2sSt.+Louis+County+Circuit+Clerk!5e0!3m2!1sen!2sus!4v1442074653884" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
              .row.overview
                .col-md-4.user-pad.text-center
                  h3 COURT DATE
                  h4 #{citation.court_date}
                .col-md-4.user-pad.text-center
                  h3 COURT TIME
                  h4 #{citation.court_date}
                .col-md-4.user-pad.text-center
                  h3 TOTAL FINE
                  h4 #{citation.fine_amount}
            .col-md-1.user-menu-btns
              #responsive.btn-group-vertical.square
                a.btn.btn-block.btn-default.active(href='#')
                  i.fa.fa-bell-o.fa-3x
                a.btn.btn-default(href='#')
                  i.fa.fa-envelope-o.fa-3x
                a.btn.btn-default(href='#')
                  i.fa.fa-laptop.fa-3x
                a.btn.btn-default(href='#')
                  i.fa.fa-cloud-upload.fa-3x
            .col-md-4.user-menu.user-pad
              .user-menu-content.active
                h3
                  | Recent Interactions
                ul.user-menu-list
                  li
                    h4
                      i.fa.fa-user.coral
                      |  Roselynn Smith followed you.
                  li
                    h4
                      i.fa.fa-heart-o.coral
                      |  Jonathan Hawkins followed you.
                  li
                    h4
                      i.fa.fa-paper-plane-o.coral
                      |  Gracie Jenkins followed you.
                  li
                    button.btn.btn-labeled.btn-success(type='button', href='#')
                      span.btn-label
                        i.fa.fa-bell-o
                      | View all activity
              .user-menu-content
                h3
                  | Your Inbox
                ul.user-menu-list
                  li
                    h4
                      | From Roselyn Smith 
                      small.coral
                        strong NEW
                        |  
                        i.fa.fa-clock-o
                        |  7:42 A.M.
                  li
                    h4
                      | From Jonathan Hawkins 
                      small.coral
                        i.fa.fa-clock-o
                        |  10:42 A.M.
                  li
                    h4
                      | From Georgia Jennings 
                      small.coral
                        i.fa.fa-clock-o
                        |  10:42 A.M.
                  li
                    button.btn.btn-labeled.btn-danger(type='button', href='#')
                      span.btn-label
                        i.fa.fa-envelope-o
                      | View All Messages
              .user-menu-content
                h3
                  | Trending
                .row
                  .col-md-6
                    .view
                      .caption
                        p 47LabsDesign
                        a(href='', rel='tooltip', title='Appreciate')
                          span.fa.fa-heart-o.fa-2x
                        a(href='', rel='tooltip', title='View')
                          span.fa.fa-search.fa-2x
                      img.img-responsive(src='http://24.media.tumblr.com/273167b30c7af4437dcf14ed894b0768/tumblr_n5waxesawa1st5lhmo1_1280.jpg')
                    .info
                      p.small(style='text-overflow: ellipsis') An Awesome Title
                      p.small.coral.text-right
                        i.fa.fa-clock-o
                        |  Posted Today | 10:42 A.M.
                    .stats.turqbg
                      span.fa.fa-heart-o
                        strong 47
                      span.fa.fa-eye.pull-right
                        strong 137
                  .col-md-6
                    .view
                      .caption
                        p 47LabsDesign
                        a(href='', rel='tooltip', title='Appreciate')
                          span.fa.fa-heart-o.fa-2x
                        a(href='', rel='tooltip', title='View')
                          span.fa.fa-search.fa-2x
                      img.img-responsive(src='http://24.media.tumblr.com/282fadab7d782edce9debf3872c00ef1/tumblr_n3tswomqPS1st5lhmo1_1280.jpg')
                    .info
                      p.small(style='text-overflow: ellipsis') An Awesome Title
                      p.small.coral.text-right
                        i.fa.fa-clock-o
                        |  Posted Today | 10:42 A.M.
                    .stats.turqbg
                      span.fa.fa-heart-o
                        strong 47
                      span.fa.fa-eye.pull-right
                        strong 137
              .user-menu-content
                h2.text-center
                  | START SHARING
                center
                  i.fa.fa-cloud-upload.fa-4x
                .share-links
                  center
                    button.btn.btn-lg.btn-labeled.btn-success(type='button', href='#', style='margin-bottom: 15px;')
                      span.btn-label
                        i.fa.fa-bell-o
                      | A FINISHED PROJECT
                  center
                    button.btn.btn-lg.btn-labeled.btn-warning(type='button', href='#')
                      span.btn-label
                        i.fa.fa-bell-o
                      | A WORK IN PROGRESS
