extends inc/layout

block content

  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Your
              |  citations
            p
              | View your citations below. You will find information about the court location, court date, and fines.
          //- .col-lg-4.col-md-4
          //-   img.img-responsive(src='img/3D_Judges_Gavel.jpg', alt='', title='')
          // End Side Image
  if (!citations || citations.length < 1)
    section#subscribe.section
      .container
        .row
          .col-lg-12
            .headline
              h1
                strong No Citations Found
              p We weren't able to find a citation with those details. Please try again.
        .row
          .col-lg-12.text-center
            a.btn.btn-primary.btn-lg.btn-bluebg(href='/search') Back
            a.btn.btn-default.btn-lg.btn-bluenobg(href='#') Help
  else
    each citation in citations
      section#citation.section.citation-section
        .container
          .row.user-menu-container.square
            .col-md-6.user-details
              .row.coralbg.white
                .col-md-12.no-pad
                  .user-pad
                    h3 Citation: 
                      samp #{citation.citation_number}
                    h3 Violation: 
                      samp #{citation.violation_number}
                    code #{citation.violation_description}
                    if citation.warrant_status != 'FOO'
                      br
                      code.label.label-danger
                        i.fa.fa-exclamation-triangle
                        |  Outstanding Warrant!
                  dl.dl-horizontal
                    dt
                      h4.white
                        | Defendant:
                    dd
                      i.fa.fa-user
                      //- |  #{firstName}, #{lastName}
                      | #{citation.last_name}, #{citation.first_name}
                    dt
                      h4.white
                        | Status:
                    dd
                      i.fa.fa-status
                      if(citation.status = 'OPEN')
                        span.label.label-warning OPEN
                      else if(citation.status = 'CLOSED')
                        span.label.label-success CLOSED
                      else
                        span.label.label-default #{citation.status}
                    dt
                      h4.white
                        | Issued:
                    dd
                      i.fa.fa-calendar
                      | #{citation.citation_date}
                    dt
                      h4.white
                        |  Court:
                    dd
                      i.fa.fa-building
                      | #{citation.court_location}
                    dt
                      h4.white
                        |  Court Address:
                    dd
                      i.fa.fa-map-marker
                      a(href="http://maps.google.com/?q=#{citation.court_address}", target="_blank")
                        | #{citation.court_address}
                    if citation.municipalcourturl && citation.municipalcourturl != 'none'
                      button.btn.btn-labeled.btn-info(type='button')&attributes({'href': citation.municipalcourturl})
                        span.btn-label
                          i.fa.fa-external-link
                        | Goto Court Website
                    else if citation.municipalwebsite && citation.municipalwebsite != 'none'
                      button.btn.btn-labeled.btn-info(type='button')&attributes({'href': citation.municipalwebsite})
                        span.btn-label
                          i.fa.fa-external-link
                        | Goto Court Website
              .row.overview
                .col-md-4.user-pad.text-center
                  h3 COURT DATE
                  h4 #{citation.court_date}
                .col-md-4.user-pad.text-center
                  h3 COURT TIME
                  h4 1:00 PM
                .col-md-4.user-pad.text-center
                  h3 TOTAL FINE
                  h4 #{citation.total_cost}
            .col-md-2.user-menu-btns
              #responsive.btn-group-vertical.square
                a.btn.btn-block.btn-default.active(href='#')
                  i.fa.fa-envelope.fa-2x
                  h3 Contact
                a.btn.btn-block.btn-default(href='#')
                  i.fa.fa-map-marker.fa-2x
                  h3 Map
                a.btn.btn-default(href='#')
                  i.fa.fa-dollar.fa-2x
                  h3 Pay
                a.btn.btn-default(href='#')
                  i.fa.fa-question.fa-2x
                  h3 Help
            .col-md-4.user-menu.user-pad
              .user-menu-content.active
                h3
                  | Contact Court
                .user-menu-list
                  .contact-info
                    p #{citation.court_location}
                    ul.contact-list
                      li
                        i.fa.fa-map-marker
                        | #{citation.court_location}
                      li
                        i.fa.fa-phone
                        | #{citation.phonenumber}
                      li
                        i.fa.fa-envelope-o
                        a(href='mailto:example@example.com') example@example.com
              .user-menu-content
                h3
                  | Map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43401.2629929262!2d-90.33996454180678!3d38.65037573597256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x00886c1a9645bc70!2sSt.+Louis+County+Circuit+Clerk!5e0!3m2!1sen!2sus!4v1442074653884" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
              .user-menu-content
                center
                  i.fa.fa-dollar.fa-4x
                h2.text-center
                  | PAY YOUR FINE
                .share-links
                  center
                    button.btn.btn-lg.btn-labeled.btn-success(type='button', href='#', style='margin-bottom: 15px;')
                      span.btn-label
                        i.fa.fa-bell-o
                      | Pay Online
                  center
                    button.btn.btn-lg.btn-labeled.btn-warning(type='button', href='#')
                      span.btn-label
                        i.fa.fa-bell-o
                      | Community Service Options
              .user-menu-content
                center
                  i.fa.fa-question.fa-4x
                h2.text-center
                  | GET HELP
                .share-links
                  center
                    button.btn.btn-lg.btn-labeled.btn-success(type='button', href='#', style='margin-bottom: 15px;')
                      span.btn-label
                        i.fa.fa-bell-o
                      | GET HELP HERE
                  center
                    button.btn.btn-lg.btn-labeled.btn-warning(type='button', href='#')
                      span.btn-label
                        i.fa.fa-bell-o
                      | ALSO GET HELP HERE
