extends inc/layout

block content

  // Start Banner
  #banner
    .banner-inner
      .container
        .row
          // Start Header Text
          .col-md-8.header-text
            h1
              strong Your
              |  citations
            p
              | View your citations below. You will find information about the court location, court date, and fines.
          //- .col-lg-4.col-md-4
          //-   img.img-responsive(src='img/3D_Judges_Gavel.jpg', alt='', title='')
          // End Side Image
  if (!citations || citations.length < 1)
    section#subscribe.section
      .container
        .row
          .col-lg-12
            .headline
              h1
                strong No Citations Found
              p We weren't able to find a citation with those details. Please try again.
        .row
          .col-lg-12.text-center
            a.btn.btn-primary.btn-lg.btn-bluebg(href='/search') Back
            a.btn.btn-default.btn-lg.btn-bluenobg(href='javascript:;') Help
  else
    section#totals
      .container
        .row.overview
          .col-md-4.col-md-offset-8.user-pad.text-center.bg-info
            h3 TOTAL FINES: 
              samp#total-fines #{totalFines}
    each citation in citations
      section#citation.section.citation-section
        .container
          .row.user-menu-container.square
            .col-md-6.user-details
              .row.coralbg.white
                .col-md-12.no-pad
                  .user-pad
                    h3 Citation: 
                      samp #{citation.citation_number}
                    h3 Violation: 
                      samp #{citation.violation_number}
                    code #{citation.violation_description}
                    if citation.warrant_status == 'TRUE'
                      br
                      code.label.label-danger
                        i.fa.fa-exclamation-triangle
                        |  Outstanding Warrant!
                  dl.dl-horizontal
                    dt
                      h4.white
                        | Defendant:
                    dd
                      i.fa.fa-user
                      //- |  #{firstName}, #{lastName}
                      | #{citation.last_name}, #{citation.first_name}
                    dt
                      h4.white
                        | Status:
                    dd
                      i.fa.fa-status
                      if citation.status == 'OPEN'
                        span.label.label-warning OPEN
                      else if citation.status == 'CLOSED'
                        span.label.label-success CLOSED
                      else
                        span.label.label-default #{citation.status}
                    dt
                      h4.white
                        | Issued:
                    dd
                      i.fa.fa-calendar
                      | #{citation.citation_date}
                    dt
                      h4.white
                        |  Court:
                    dd
                      i.fa.fa-building
                      | #{citation.court_location}
                    dt
                      h4.white
                        |  Court Address:
                    dd
                      i.fa.fa-map-marker
                      a(href="http://maps.google.com/?q=#{citation.court_address}", target="_blank")
                        | #{citation.court_address}
                    if citation.municipalcourturl && citation.municipalcourturl != 'none'
                      dt
                        h4.white
                          | Court Website:
                      dd
                        i.fa.fa-link
                        a(href="#{citation.municipalcourturl}", target="_blank")
                          | #{citation.municipalcourturl}
                    button#feedbackBtn.btn.btn-labeled.btn-info(type='button' data-toggle="modal" data-citation="${citation_number}" data-target="#modal-#{citation_id}", style="margin-right:10px; margin-left:20px;")
                      span.btn-label
                        i.fa.fa-link
                      | Citation Feedback
                    - var courtDate = Date.parse(citation.court_date);
                    - var currentDate = new Date();
                    if courtDate <= currentDate
                      button#feedback2Btn.btn.btn-labeled.btn-info(type='button' data-toggle="modal" data-citation="${citation_number}" data-target="#modal2-#{citation_id}", style="margin-right:10px; margin-left:20px;")
                        span.btn-label
                          i.fa.fa-link
                        | Court Feedback

              .row.overview
                .col-md-4.user-pad.text-center
                  h3 COURT DATE
                  h4 #{citation.court_date}
                .col-md-4.user-pad.text-center
                  h3 COURT TIME
                  h4 1:00 PM
                .col-md-4.user-pad.text-center
                  h3 TOTAL FINE
                  h4 #{citation.total_cost}
            .col-md-2.user-menu-btns
              #responsive.btn-group-vertical.square
                a.btn.btn-block.btn-default.active(href='javascript:;')
                  i.fa.fa-envelope.fa-2x
                  h3 Contact
                a.btn.btn-block.btn-default(href='javascript:;')
                  i.fa.fa-map-marker.fa-2x
                  h3 Map
                a.btn.btn-default(href='javascript:;')
                  i.fa.fa-dollar.fa-2x
                  h3 Pay
                a.btn.btn-default(href='javascript:;')
                  i.fa.fa-question.fa-2x
                  h3 Help
            .col-md-4.user-menu.user-pad
              .user-menu-content.active
                h3
                  | Contact Court
                .user-menu-list
                  .contact-info
                    p #{citation.court_location}
                    ul.contact-list
                      li
                        i.fa.fa-map-marker
                        | #{citation.court_location}
                      li
                        i.fa.fa-phone
                        | #{citation.phonenumber}
              .user-menu-content
                h3
                  | Map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43401.2629929262!2d-90.33996454180678!3d38.65037573597256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x00886c1a9645bc70!2sSt.+Louis+County+Circuit+Clerk!5e0!3m2!1sen!2sus!4v1442074653884" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
              .user-menu-content
                center
                  i.fa.fa-dollar.fa-4x
                h2.text-center
                  | PAY YOUR FINE
                .share-links
                  center
                    if citation.paymenturl != 'N/A'
                      a.btn.btn-lg.btn-labeled.btn-success(type='button', style='margin-bottom: 15px;',target='_blank')&attributes({'href': citation.paymenturl})
                        span.btn-label
                          i.fa.fa-bell-o
                        | Pay Online
                    else 
                        span
                          | Online payment is not supported at this time.
                        br
                        br
                  center
                    button.btn.btn-lg.btn-labeled.btn-warning(type='button', href='javascript:;')
                      span.btn-label
                        i.fa.fa-bell-o
                      | Community Service Options
              .user-menu-content
                center
                  i.fa.fa-question.fa-4x
                h2.text-center
                  | GET HELP
                .share-links
                  center
                    | For help contesting a ticket, contact:
                    a(href="http://www.archcitydefenders.org/contact-us/", target="_blank"): img(src='http://03a5010.netsolhost.com/WordPress/wp-content/uploads/2014/07/ACD-BLANK-LOGO-small.jpg')
                    ul.contact-list
                      li
                        i.fa.fa-envelope
                        | mail@archcitydefenders.org
                      li
                        i.fa.fa-phone
                        | 314-361-8834
      .modal.fade.feedback-modal(tabindex="-1", role="dialog", aria-labelledby="feedbackBtn", aria-hidden="true", id="modal-#{citation_id}")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
              h4.modal-title Justice Experience Feedback
            .modal-body
              .banner-form
                .form-title
                  p
                    | By providing this 
                    strong anonymous 
                    | information about your citation experience, you are helping make your community a better place. We will aggregate this data and provide it to researchers, journalists, and civic activists. Thank you!
                  dl.dl-horizontal
                    dt
                      h4 Citation #:
                    dd
                      samp #{citation.citation_number}
                    dt
                      h4 Citation Date:
                    dd
                      samp #{citation.citation_date}
                .form-body
                  form#banner-form.form.feedback-form(method='post', action='form.php')
                  input#modal-violation(type="hidden", value="#{citation.violation_description}")
                  input#modal-dob(type="hidden", value="#{citation.date_of_birth}")
                  input#modal-municipality(type="hidden", value="#{citation.municipality}")
                  input#modal-dcity(type="hidden", value="#{citation.defendant_city}")
                  input#modal-dstate(type="hidden", value="#{citation.defendant_state}")
                  .form-group
                    select#modal-race.form-control
                      each race, i in ["Your Ethnicity","Caucasian","African American","Hispanic","Asian","Native American","Klingon","Morlock"]
                        option(value=i) #{race}
                  .form-group
                    select#modal-income.form-control
                      each range, i in ["Annual Household Income","Less than $20,000","$20,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more"]
                        option(value=i) #{range}
                  .form-group
                    select#modal-officer.form-control
                      each race, i in ["Citing Officer's Ethnicity","Caucasian","African American","Hispanic","Asian","Native American","Klingon","Morlock"]
                        option(value=i) #{race}
                  .form-group
                    select#modal-rating.form-control
                      each rating, i in ["How fairly treated did you feel by this officer?","Very Fairly Treated","Somewhat Fairly Treated","Neither Fairly or Unfairly Treated","Somewhat Unfairly Treated","Very Unfairly Treated"]
                        option(value=i) #{rating}
                  .form-group
                    input#modal2-comments.form-control(name='modal2-comments', type='text', required='', placeholder='Comments')
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") Close
              button.btn.btn-primary.btn-submit#modal-submit.feedback-submit(type='submit' data-parent='modal-#{citation_id}') Submit Feedback
      .modal.fade.feedback-modal(tabindex="-1", role="dialog", aria-labelledby="feedback2Btn", aria-hidden="true", id="modal2-#{citation_id}")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
              h4.modal-title Court Experience Feedback
            .modal-body
              .banner-form
                .form-title
                  p
                    | By providing this 
                    strong anonymous 
                    | information about your court experience, you are helping make your community a better place. We will aggregate this data and provide it to researchers, journalists, and civic activists. Thank you!
                  dl.dl-horizontal
                    dt
                      h4 Citation #:
                    dd
                      samp #{citation.citation_number}
                    dt
                      h4 Citation Date:
                    dd
                      samp #{citation.citation_date}
                .form-body
                  form#modal2-form.form.feedback-form(method='post', action='form.php')
                  input#modal2-violation(type="hidden", value="#{citation.violation_description}")
                  input#modal2-dob(type="hidden", value="#{citation.date_of_birth}")
                  input#modal2-municipality(type="hidden", value="#{citation.municipality}")
                  input#modal2-dcity(type="hidden", value="#{citation.defendant_city}")
                  input#modal2-dstate(type="hidden", value="#{citation.defendant_state}")
                  .form-group
                    select#modal2-race.form-control
                      each race, i in ["Your Ethnicity","Caucasian","African American","Hispanic","Asian","Native American","Klingon","Morlock"]
                        option(value=i) #{race}
                  .form-group
                    select#modal2-income.form-control
                      each range, i in ["Annual Household Income","Less than $20,000","$20,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 or more"]
                        option(value=i) #{range}
                  .form-group
                    select#modal2-officer.form-control
                      each race, i in ["Judge's Ethnicity","Caucasian","African American","Hispanic","Asian","Native American","Klingon","Morlock"]
                        option(value=i) #{race}
                  .form-group
                    select#modal2-rating.form-control(name='modal2-rating')
                      each rating, i in ["How fairly treated did you feel at this court hearing?","Very Fairly Treated","Somewhat Fairly Treated","Neither Fairly or Unfairly Treated","Somewhat Unfairly Treated","Very Unfairly Treated"]
                        option(value=i) #{rating}
                  .form-group
                    input#modal2-comments.form-control(name='modal2-comments', type='text', required='', placeholder='Comments')
            .modal-footer
              button.btn.btn-default(type="button", data-dismiss="modal") Close
              button.btn.btn-primary.btn-submit#modal2-submit.feedback-submit(type='submit' data-parent='modal2-#{citation_id}') Submit Feedback

              
